{% extends "base.html.twig" %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <a href="{{ path("account_create_perso") }}">Créer un nouveau personnage</a>


{% endblock %}