{% extends "base.html.twig" %}

{% block title %}Edition de Race{% endblock %}

{% block body %}
<div id="">
    <h1 id="titremoncompte">Editer une Race</h1>

    <div id="">
        {{ form_start(formRace) }}
                {{ form_widget(formRace) }}
                <button type="submit" class="btn" id="">Editer</button>
        {{ form_end(formRace) }}
    </div>
    <a href="{{ path("admin_listRace") }}">Retour</a>
</div>

{% endblock %}