{% extends "base.html.twig" %}

{% block title %}Edition de Race{% endblock %}

{% block body %}
<div class="listeform">
    <h1>Editer une Race</h1>

    <div>
        {{ form_start(formRace, {'attr': {'class': 'form'}}) }}
                {{ form_widget(formRace, {'attr': {'class': 'form2'}}) }}
                <button type="submit" class="btn" id="">Editer</button>
        {{ form_end(formRace) }}
    </div>
    <div class="retourform"><a href="{{ path("admin_listRace") }}">Retour</a></div>
</div>

{% endblock %}