{% extends 'base.html.twig' %}

{% block title %}Hello MapController!{% endblock %}

{% block body %}

    <div id="backgroungMap" style="background-image: url()">

        <div id="flecheTop"></div>
        <div id="flecheRight"></div>
        <div id="flecheBottom"></div>
        <div id="flecheLeft"></div>

        <div id="shop"></div>
        <div id="fight"></div>

    </div>
{% endblock %}
