
{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}



{% block body %}

<div id="marchant">
<a href="../achatvente"><img src="{{asset('img/Marchant.png')}}" alt="" id="imgmarchant"></a>
<p id="pboutique">Direction Ville</p>
<a href="../ville"><img src="{{asset('img/fleche.png')}}" alt="" id="imgfleche"></a>
</div>

{% endblock %}