{% extends 'base.html.twig' %}

{% block title %}Foret{% endblock %}



{% block body %}

<div id="foret">
    <div>
        <a href="../forest"><img src="{{asset('img/fleche.png')}}" alt="" id="imgflecheht"></a>
        <p id="pville"> Direction foret</p>
    </div>
    <div id="Combat">
        <p> un #monstre niv # apparait </p>
        <a href="#"  id='btnStart' data-start="{{path('start')}}">Lancer le combat !</a>
    </div>
    <div>
        <p id="pville"> Direction Plaine </p>
        <a href="../plaine"><img src="{{asset('img/fleche.png')}}" alt="" id="imgflechep"></a>
    </div>
</div>
{% endblock %}