{% extends "base.html.twig" %}

{% block title %}Création de personnage{% endblock %}

{% block body %}
<div class="listeform">
    <h1>Créer new monster</h1>

    <div>
        {{ form_start(formMonster, {'attr': {'class': 'form'}}) }}
                {{ form_widget(formMonster, {'attr': {'class': 'form2'}}) }}
                <button type="submit" class="btn">Créez !</button>
        {{ form_end(formMonster) }}
    </div>
    <div class="retourform"><a href="{{ path("admin_listMonster") }}">Retour</a></div>
</div>

{% endblock %}