{% extends "base.html.twig" %}

{% block title %}Ajout d'une nouvelle image pour personnage{% endblock %}

{% block body %}
    <div class="listeform">
        <h1>Ajouter une nouvelle image pour personnage</h1>

        <div>
            {{ form_start(formImgPerso, {'attr': {'class': 'formim'}}) }}
                    {{ form_widget(formImgPerso, {'attr': {'class': 'form2'}}) }}
                    <button type="submit" class="btn" id="">Créez !</button>
            {{ form_end(formImgPerso) }}
        </div>
        <div class="retourform"><a href="{{ path("admin_listImgPerso") }}">Retour</a></div>
    </div>

{% endblock %}