{% extends "base.html.twig" %}

{% block title %}Editer une image de personnage{% endblock %}

{% block body %}
<div class="listeform">
    <h1>Edite image pour personnage</h1>

    <div>
        {{ form_start(formImgPerso) }}
                {{ form_widget(formImgPerso) }}
                <button type="submit" class="btn" id="">Editer</button>
        {{ form_end(formImgPerso) }}
    </div>
    <div class="retourform"><a href="{{ path("admin_listImgPerso") }}">Retour</a></div>
</div>

{% endblock %}