body {
    background-color: lightgray;
    margin: 0;
}


/*-------------------header----------------------*/

header{
    background-color: black;
    color:white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 5px;
}
h1{
    font-family: Brush Script MT, Brush Script Std, cursive;   
}
.aheader{
    text-decoration: none;
    color: white;
}

/*------------- formulaire général--------------------*/

.formbase{
    color: white;
    background-color: rgb(54,54,47);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50vh;
    margin-top: 20vh;
    height: 30vh;
    div{
        input{
            margin: 15px;;
        }
        label{
            margin-right: 10px;           
        }
    }
}
.posform{
    display: flex;
    justify-content: center;
    align-content: center;
}

.fondecran{
    background-image: url(../../public/img/fondbase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90.4vh;
}

/*-----------------Accueil-------------------*/

.accueil{
    background-image: url(../../public/img/fondacceuil.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        margin-top: 0;
        font-size: 80px;
        color: white;
    }
    h2{
        a{
        text-decoration: none;
        color: rgb(85, 85, 85);
        font-size: 30px;
        }
    }
}


/*------------------ Mon compte------------------------*/

#divperso{
    display: flex;
    justify-content: space-around;
}
#affmoncompte{
    color: white;
    background-color: rgb(54,54,47);
    margin-top: 10vh;
}
#titremoncompte{
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}

#creaperso{
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    a{
        text-decoration: none;
        color: White;
    }
}

#affperso{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    background-image: url(../../public/img/elfeguerriere.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: black 1px solid;
    border-radius: 20px;
    
    tbody{
        display: flex;
        flex-direction: column;
    }
}

#textelisteperso{
    margin: 30px;
    font-size: 30px;

}
#btnjouer{
    display: flex;
    text-align: center;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 4px;
        width: 80px;
        height: 40px;
        margin: 20px;
    }
}

/*--------Création de nouveaux personnage------------*/

#affcrepers{
    color: white;
    background-color: rgb(54,54,47);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formcreaperso{
    display: flex;
    flex-direction: column;

    form{
        div{
            margin: 10px;
            font-size: 30px;
            select{
                font-size: 20px;
            }
        }
    }
}

#subcreapers{
    margin-bottom: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 80px;
}

/*-----------------maps générale -------------------*/

#imgfleche{
    width: 150px;
}

/*---------------page de la ville------------*/

#ville{
    background-image: url("../../public/img/ville2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 89vh;
}

#iconeboutique{
    width: 20vh;
    margin-top: 10vh;
    padding: 22vh;
    margin-right: 60vh;
}
#pville{
    color: white;
    font-size: 20px;
    margin-bottom: -2vh;
}

/*---------------page de la plaine------------*/

#plaine{
    background-image: url("../../public/img/plaine.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 89vh;
}
#imgflecheht{
    width: 150px;
    transform: rotate(180deg);
    margin-bottom: -5vh;
}
#imgflechep{
    width: 150px;
    margin-bottom: 5vh;
}

/*---------------page de la foret------------*/

#foret{
    background-image: url("../../public/img/foret1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 89vh;
}

/*---------------page de la boutique------------*/

#marchant{
    background-image: url("../../public/img/boutique.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 89vh;
}

#imgmarchant{
    margin-top: 20vh;
    padding: 10vh;
    height: 40vh;
    margin-bottom: -10vh;
}
#pboutique{
    color: white;
    font-size: 20px;
    margin-bottom: -2vh;
}


/*--------------page achat vente----------------*/

#titremarchand{
    display: flex;
    color: white;
    background-color: rgb(54,54,47);
    border:1px solid grey;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 0; 
}
#titreinv{
    display: flex;
    color: white;
    background-color: rgb(54,54,47);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 0;
    padding-right: 100px;
}
#background{
    background-image: url("../../public/img/boutique.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
}
#interfboutique{
    display: flex; 
    justify-content:space-around;
}
#interfvente{
    display: flex; 
    flex-direction:column; 
    width: 500px;
    padding-top: 2%;
}
#interfventeinter{
    display: flex; 
    background-color: rgb(54,54,47); 
    text-align: center;
    align-items: center;
    color:white; 
    justify-content:space-around;
    border:1px solid grey;
    padding: 1%;
}
#sizeintervente{
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
#interfventeintergold{
    display: flex; 
    background-color: rgb(54,54,47); 
    text-align: center;
    align-items: center;
    justify-content: center;
    color:white; 
    border:1px solid grey;
    padding: 1%;
}
#imgarme{
    width: 50px;
}
#iconeav{
    width: 50px;
}


/*---------------footer-----------------------*/

footer{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    position:absolute;
    bottom:0;
    width:100%;
}
.iconefooter{
    width: 50px;
    border: gray 2px solid;
    margin: 10px;
    margin-left: 0px;
}