{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 404 Page non trouvée</h1>

    <p>
        Page non trouvée ou l'URL n'est pas bonne !
        <a href="{{ path('app_login') }}">retour à l'accueil</a>.
    </p>
{% endblock %}