{% extends "base.html.twig" %}

{% block title %}Création d'objet{% endblock %}

{% block body %}
<div class="listeform">
    <h1>Créer un nouvel objet</h1>

    <div>
        {{ form_start(formItem, {'attr': {'class': 'form'}} ) }}
                {{ form_widget(formItem, {'attr': {'class': 'form2'}}) }}
                <button type="submit" class="btn" id="">Créez !</button>
        {{ form_end(formItem) }}
    </div>
    <div class="retourform"><a href="{{ path("admin_items_listItems") }}">Retour</a></div>
</div>

{% endblock %}