{% extends "base.html.twig" %}

{% block title %}Edition de types{% endblock %}

{% block body %}
<div id="">
    <h1 id="titremoncompte">Editer le type</h1>

    <div id="">
        {{ form_start(formType ) }}
                {{ form_row(formType.type , {
                    label: 'Type : '
                }) }}
                <button type="submit" class="btn" id="">Editer</button>
        {{ form_end(formType) }}
    </div>
    <a href="{{ path("admin_items_listItems") }}">Retour</a>
</div>

{% endblock %}