{% extends "base.html.twig" %}

{% block title %}Edition de Genre{% endblock %}

{% block body %}
<div id="">
    <h1 id="titremoncompte">Editer le Genre</h1>

    <div id="">
        {{ form_start(formGender) }}
                {{ form_widget(formGender) }}
                <button type="submit" class="btn" id="">Editer</button>
        {{ form_end(formGender) }}
    </div>
    <a href="{{ path("admin_listGender") }}">Retour</a>
</div>

{% endblock %}